@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
    /* color: white; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    gap: 100px;
    height: 100vh;
}
.main>h1{
    font-size: 100px;
    height:fit-content;
    margin-top: 100px;
}
.chess-options{
    width: 100%;
    display: flex;
    text-wrap: nowrap;
    font-size: 50px;
    justify-content: space-around;
    align-items:first baseline;
    min-height: 200px;
}
@media screen and (max-width: 900px) {
    .chess-options {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
 }

.enter-key{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.main{
    background-color: #ebecd0;
}
button{
    background-color: #779556;
    border: 2px solid #52663c;
    font-size: large;
    padding: 12px 15px;
    min-width: 100px;
}
input{
    border: 3px solid #555;
    width: 50%;
    height: 40px;
    font-size: large;
}

button:hover{
    background-color: #9ac66b;
    cursor: pointer;
}
.generate-key{
    width: 50%;
    min-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items:center;
}
.generate-key>*{
    width: 100%;
}
.generate-key>div{
    align-items: center;
}
.generate-key>button{
    width: 30%;
}
.redirect{
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redirect>*{
    width: 50%;
}